<div id="general" class="">

  <div id="title" class="bg-gray-200 bg-opacity-75 p-5">
    <h1 class="font-bold mb-1 uppercase text-lg">Estudios</h1>
    <p>Formación realizada</p>
  </div>

  <div id="description" class="bg-gray-100 bg-opacity-25 p-5">

    <div class="flex h-full" *ngFor="let institute of allInstitutes, let i = index">

      <div class="w-5 mt-5">
        <div class="height-ball">
          <div class="h-5 w-5 rounded-full border-2 bg-green-400 mr-5"></div>
        </div>
        <div class="height-line">
          <div class="bg-gray-200 ml-2 w-1 h-full"></div>
        </div>
      </div>

      <div class="w-full mt-5">
        <p class="text-xs mt-1 ml-5">{{institute.duration}}</p>

        <h1 class="font-bold mb-1 uppercase text-lg mt-5 ml-5">{{institute.centerName}}</h1>
        <h2 class="mb-1 text-sm text-black text-opacity-50 ml-5">{{institute.studyName}}</h2>
        <h3 class="mb-1 text-xs text-black text-opacity-30 ml-5">{{institute.level}}</h3>
      </div>

    </div>
  </div>

</div>