<div id="general" class="">

    <div id="title" class="bg-gray-200 bg-opacity-75 p-5">
        <h1 class="font-bold mb-1 uppercase text-lg">Conocimientos</h1>
        <p>Diferentes tecnologías</p>
    </div>

    <div id="description" class="bg-gray-100 bg-opacity-25 p-5">
        <div class="conocimientos">
            <div class="flex">
                <h1 class="font-bold mb-1 uppercase text-lg text-green-400 mr-5">01</h1>
                <h1 class="font-bold mb-1 uppercase text-lg">Angular</h1>
            </div>
    
            <p class="text-sm ml-10">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex praesentium reprehenderit, magnam non quaerat
              placeat! Placeat nostrum ut aut enim. Quas explicabo illum ipsam voluptatem expedita est asperiores, nulla
              delectus.
            </p>
        </div>

        <div class="conocimientos mt-5">
            <div class="flex">
                <h1 class="font-bold mb-1 uppercase text-lg text-green-400 mr-5">02</h1>
                <h1 class="font-bold mb-1 uppercase text-lg">CSS</h1>
            </div>
    
            <p class="text-sm ml-10">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores voluptatibus earum dolore.
              Voluptate cum recusandae laboriosam molestiae nobis quidem! Hic consectetur quibusdam, dignissimos
              similique nobis non eaque quisquam ratione.
            </p>
        </div>

        <div class="conocimientos mt-5">
            <div class="flex">
                <h1 class="font-bold mb-1 uppercase text-lg text-green-400 mr-5">03</h1>
                <h1 class="font-bold mb-1 uppercase text-lg">Java</h1>
            </div>
    
            <p class="text-sm ml-10">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum voluptatibus ea cumque, quisquam quaerat
              dolore similique. Omnis earum, accusantium obcaecati aliquam, soluta, suscipit similique quod illo rem ut
              enim placeat!
            </p>
        </div>

        <div class="conocimientos mt-5">
            <div class="flex">
                <h1 class="font-bold mb-1 uppercase text-lg text-green-400 mr-5">04</h1>
                <h1 class="font-bold mb-1 uppercase text-lg">Python</h1>
            </div>
    
            <p class="text-sm ml-10">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi cum rem, quam voluptas mollitia perferendis,
              ipsam similique, corrupti illum magni iusto minus omnis possimus sequi voluptatem eos laudantium dolorem
              optio!
            </p>
        </div>
    </div>

</div>