<hr>

<div id="general" class="lg:flex | divide-gray-200 lg:divide-x">

    <div id="title" class="lg:w-2/5 | lg:bg-opacity-50 bg-gray-200 bg-opacity-75 | p-5 sm:p-10 | lg:px-16 lg:py-10 | lg:text-right">
        <h1 class="font-bold mb-1 uppercase text-lg">Conocimientos</h1>
        <p>Diferentes tecnologías</p>
    </div>

    <div id="description" class="lg:w-3/5 | lg:bg-opacity-50 bg-gray-100 bg-opacity-25 | p-5 sm:p-10 | lg:px-16 lg:py-10">
        <div class="lg:max-w-xl">
            <div class="conocimientos">
                <div class="flex">
                    <h1 class="font-bold mb-1 uppercase text-lg text-green-400 mr-5">01</h1>
                    <h1 class="font-bold mb-1 uppercase text-lg">Angular</h1>
                </div>
        
                <p class="ml-10">
                  Actualmente es mi framework favorito. 
                  He creado varios proyectos utilizándolo y me siento bastante cómodo.
                </p>
            </div>
    
            <div class="conocimientos mt-5">
                <div class="flex">
                    <h1 class="font-bold mb-1 uppercase text-lg text-green-400 mr-5">02</h1>
                    <h1 class="font-bold mb-1 uppercase text-lg">CSS</h1>
                </div>
        
                <p class="ml-10">
                  El diseño es uno de los aspectos más importante de una aplicación.
                  Estoy en constante formación para seguir aprendiendo cada día.
                </p>
            </div>
    
            <div class="conocimientos mt-5">
                <div class="flex">
                    <h1 class="font-bold mb-1 uppercase text-lg text-green-400 mr-5">03</h1>
                    <h1 class="font-bold mb-1 uppercase text-lg">Java</h1>
                </div>
        
                <p class="ml-10">
                  Mi primer lenguaje de programación. Hasta ahora lo he utilizado en todos mis proyectos.
                  Destacaría la facilidad para crear servicios API-REST.
                </p>
            </div>
    
            <div class="conocimientos mt-5">
                <div class="flex">
                    <h1 class="font-bold mb-1 uppercase text-lg text-green-400 mr-5">04</h1>
                    <h1 class="font-bold mb-1 uppercase text-lg">Python</h1>
                </div>
        
                <p class="ml-10">
                  Actualmente me estoy formando en este lenguaje, me atrae bastante su potencia y facilidad de uso.
                </p>
            </div>

        </div>
        
    </div>

</div>