<hr>

<div id="general" class="lg:flex | divide-gray-200 lg:divide-x">

  <div id="title" class="lg:w-2/5 | bg-gray-200 bg-opacity-75 | p-5 sm:p-10 | lg:px-16 lg:py-10 | lg:text-right">
    <h1 class="font-bold mb-1 uppercase text-lg">Contacto</h1>
    <p>¡Podemos hablar!</p>
  </div>

  <div id="description" class="lg:w-3/5 | bg-gray-100 bg-opacity-25 | p-5 sm:p-10 | lg:px-16 lg:py-10">

    <div id="email" class="">
      <h1 class="font-bold mb-1">Correo electrónico</h1>
      <a href="mailto:raulmoralesruiz@outlook.com">raulmoralesruiz@outlook.com</a>
    </div>

    <div id="location" class="mt-5">
      <h1 class="font-bold mb-1">Localización</h1>
      <p>Sevilla (España)</p>
    </div>

    <!-- <div id="web" class="mt-8">
        <h1 class="font-bold mb-1">Web</h1>
        <a href="https://raulmorales.eu" target="_blank" rel="noopener noreferrer">https://raulmorales.eu</a>
      </div> -->
      
      <div class="mt-10">
        <h1 class="text-6xl ">Raúl</h1>
        <h2 class="text-4xl  text-green-400">Morales Ruiz</h2>
      </div>

    <div id="social" class="mt-8 mb-5">
      <a target="_blank" href="https://www.linkedin.com/in/raulmoralesruiz/">
        <i class="fa fa-linkedin fa-2x pr-4" aria-hidden="true"></i>
      </a>

      <a target="_blank" href="https://www.freecodecamp.org/raulmorales">
        <i class="fa fa-free-code-camp fa-2x px-4" aria-hidden="true"></i>
      </a>

      <a target="_blank" href="https://github.com/raulmoralesruiz">
        <i class="fab fa-github fa-2x px-4" aria-hidden="true"></i>
      </a>

      <a href="mailto:raulmoralesruiz@outlook.com">
        <i class="far fa-envelope fa-2x px-4" aria-hidden="true"></i>
      </a>
    </div>


  </div>

</div>