<hr>

<div id="general" class="lg:flex | divide-gray-200 lg:divide-x">

    <div id="title" class="lg:w-2/5 | bg-gray-200 bg-opacity-75 | p-5 sm:p-10 | lg:px-16 lg:py-10 | lg:text-right">
        <h1 class="font-bold mb-1 uppercase text-lg">Introducción</h1>
        <p>Descripción sobre mí</p>
    </div>

    <div id="description" class="lg:w-3/5 | bg-gray-100 bg-opacity-25 | p-5 sm:p-10 | lg:px-16 lg:py-10">
      <div class="lg:max-w-xl">
        <p class="text-base">
          Soy un apasionado de la tecnología y estoy en constante actualización.

          Mi objetivo es ser programador full-stack, aunque actualmente prefiero comenzar como front-end.
          Me encanta aprender cosas nuevas y trabajar en equipo.

          Si tuviera que definirme en dos palabras, serían determinación y constancia.

          Mi trayectoria profesional se basa en la informática, durante más de seis años he sido técnico de sistemas y actualmente busco desarrollar mi carrera en el mundo de la programación.
        </p>

        <!-- <p class="text-base | mt-5">
          Angular
          Typescript
          HTML/CSS
          Experiencia con servicios web
          Programación orientada a objetos
          Capacidad de análisis y resolución de problemas
        </p> -->
      </div>
    </div>

</div>