<div id="general" class="">

    <div id="title" class="bg-gray-200 bg-opacity-75 p-5">
        <h1 class="font-bold mb-1 uppercase text-lg">Introducción</h1>
        <p>Descripción sobre mí</p>
    </div>

    <div id="description" class="bg-gray-100 bg-opacity-25 p-5">
        <p class="text-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cum, fugit nulla exercitationem natus quod
          aliquid porro dolor explicabo labore qui magni quis facere ut quasi veritatis soluta pariatur. Praesentium.
          Facere quae vel sapiente laudantium dicta, quaerat quia. Perspiciatis voluptatum distinctio excepturi maiores
          ab ipsa doloremque, nihil sed. Architecto quaerat ipsam placeat sequi perferendis nesciunt, ut laboriosam
          beatae obcaecati debitis.
        </p>

        <p class="text-sm mt-5">
          Nulla totam ea possimus iusto facilis est id reprehenderit, fugit vero ratione? Iste porro eaque aut itaque
          molestiae vitae nemo, blanditiis corrupti debitis laudantium cum esse autem quaerat officiis quis.
          Cum tenetur provident, porro id aliquam eligendi aliquid, exercitationem amet assumenda voluptate distinctio
          et at rem? Dignissimos laudantium sequi eos? Atque excepturi rerum ab iure hic architecto autem suscipit
          voluptas.
        </p>

        <p class="text-sm mt-5">
          Libero aspernatur atque asperiores! Necessitatibus similique laudantium, veritatis nemo minus nobis expedita
          consequatur quisquam a atque assumenda ad esse sed quos sint in laboriosam consequuntur ducimus. Eum omnis rem
          aliquam?
        </p>
    </div>

</div>