<div id="general" class="h-screen bg-gray-100 bg-opacity-25 divide-y divide-gray-200">

  <div id="personal-photo" class="h-3/5 flex flex-wrap content-center">
    <div class="mx-auto">
      <img src="assets/raul.png" class="h-60 w-60 rounded-full border-2 border-gray-200 mx-auto "
        alt="personal profile photo" srcset="">
      <h1 class="text-6xl text-center mt-5">Raúl</h1>
      <h2 class="text-4xl text-center text-green-400">Morales Ruiz</h2>
      <p class="text-center">Web developer</p>
    </div>
  </div>

  <!-- <hr class="container"> -->

  <div id="personal-data" class="h-2/5 flex flex-wrap content-center text-center bg-gray-200 bg-opacity-10">
    <div class="mx-auto">
      <!-- <div id="location" class="">
        <h1 class="font-bold mb-1">Localización</h1>
        <p>Sevilla (España)</p>
      </div>

      <div id="email" class="mt-8">
        <h1 class="font-bold mb-1">Correo electrónico</h1>
        <a href="mailto:raulmoralesruiz@outlook.com">raulmoralesruiz@outlook.com</a>
      </div> -->

      <div id="social" class="">
        <!-- <h1 class="font-bold">Redes sociales</h1> -->

        <a target="_blank" href="https://www.linkedin.com/in/raulmoralesruiz/">
          <i class="fa fa-linkedin fa-2x px-4" aria-hidden="true"></i>
        </a>

        <a target="_blank" href="https://www.freecodecamp.org/raulmorales">
          <i class="fa fa-free-code-camp fa-2x px-4" aria-hidden="true"></i>
        </a>

        <a target="_blank" href="https://github.com/raulmoralesruiz">
          <i class="fab fa-github fa-2x px-4" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>

</div>