<div id="general" class="lg:flex | h-screen | bg-gray-100 bg-opacity-25 | divide-y divide-gray-200 lg:divide-x">

  <div id="personal-photo" class="h-2/5 | sm:h-1/2 sm:py-2 | lg:h-screen lg:w-2/5 | grid lg:justify-end lg:pr-10 | content-center">
    <div class="justify-end">
      <img src="assets/raul.png" class="h-60 w-60 | sm:h-36 sm:w-36 | md:h-60 md:w-60 | xl:h-80 xl:w-80 | rounded-full border-2 border-gray-200 mx-auto"
        alt="personal profile photo" srcset="">
    </div>
  </div>

  <div id="personal-data"
    class="h-3/5 | sm:h-1/2 | lg:h-screen lg:w-3/5 | grid lg:justify-start | content-center text-center | bg-gray-200 bg-opacity-10">

    <div class="mx-auto lg:pl-10">
      <h1 class="text-6xl lg:text-8xl | text-center | mt-5 sm:mt-2">Raúl</h1>
      <h2 class="text-4xl lg:text-6xl | text-center | text-green-400">Morales Ruiz</h2>
      <h3 class="text-center | lg:text-xl">Web developer</h3>

      <div id="social" class="mt-20 | sm:mt-0 sm:pt-5 sm:hidden md:block">
        <a target="_blank" href="https://www.linkedin.com/in/raulmoralesruiz/">
          <i class="fa fa-linkedin fa-2x px-4" aria-hidden="true"></i>
        </a>

        <a target="_blank" href="https://www.freecodecamp.org/raulmorales">
          <i class="fa fa-free-code-camp fa-2x px-4" aria-hidden="true"></i>
        </a>

        <a target="_blank" href="https://github.com/raulmoralesruiz">
          <i class="fab fa-github fa-2x px-4" aria-hidden="true"></i>
        </a>

        <a href="mailto:raulmoralesruiz@outlook.com">
          <i class="far fa-envelope fa-2x px-4" aria-hidden="true"></i>
        </a>
      </div>
    </div>

  </div>

</div>