<hr>

<div id="general" class="lg:flex | divide-gray-200 lg:divide-x">

    <div id="title" class="lg:w-2/5 | bg-gray-200 bg-opacity-75 | p-5 sm:p-10 | lg:px-16 lg:py-10 | lg:text-right">
        <h1 class="font-bold mb-1 uppercase text-lg">Skills</h1>
        <p>Diferentes habilidades</p>
    </div>

    <div id="description" class="lg:w-3/5 sm:flex | bg-gray-100 bg-opacity-25 | p-5 sm:p-10 | sm:px-16 sm:py-10">

        <div class="sm:w-1/2 sm:max-w-lg lg:max-w-sm sm:pr-5">
            <div class="skills">
                <div class="flex">
                    <h1 class="font-bold mb-1 uppercase text-lg text-green-400 mr-5">90%</h1>
                    <h1 class="font-bold mb-1 uppercase text-lg">Front-end</h1>
                </div>
    
                <div class="h-3 relative max-w-xl rounded-full overflow-hidden">
                    <div class="w-full h-full bg-gray-200 absolute"></div>
                    <div class="h-full bg-green-400 absolute" style="width:90%"></div>
                </div>
            </div>
    
            <div class="skills mt-5">
                <div class="flex">
                    <h1 class="font-bold mb-1 uppercase text-lg text-green-400 mr-5">80%</h1>
                    <h1 class="font-bold mb-1 uppercase text-lg">Responsive Web</h1>
                </div>
        
                <div class="h-3 relative max-w-xl rounded-full overflow-hidden">
                    <div class="w-full h-full bg-gray-200 absolute"></div>
                    <div class="h-full bg-green-400 absolute" style="width:80%"></div>
                </div>
            </div>

            <div class="skills mt-5">
                <div class="flex">
                    <h1 class="font-bold mb-1 uppercase text-lg text-green-400 mr-5">80%</h1>
                    <h1 class="font-bold mb-1 uppercase text-lg">Back-end</h1>
                </div>
        
                <div class="h-3 relative max-w-xl rounded-full overflow-hidden">
                    <div class="w-full h-full bg-gray-200 absolute"></div>
                    <div class="h-full bg-green-400 absolute" style="width:80%"></div>
                </div>
            </div>
    
            <div class="skills mt-5">
                <div class="flex">
                    <h1 class="font-bold mb-1 uppercase text-lg text-green-400 mr-5">70%</h1>
                    <h1 class="font-bold mb-1 uppercase text-lg">SQL / MongoDB</h1>
                </div>
        
                <div class="h-3 relative max-w-xl rounded-full overflow-hidden">
                    <div class="w-full h-full bg-gray-200 absolute"></div>
                    <div class="h-full bg-green-400 absolute" style="width:70%"></div>
                </div>
            </div>
    
        </div>

        <div class="sm:w-1/2 sm:max-w-lg lg:max-w-sm sm:pl-5">
            <div class="skills | mt-5 sm:mt-0">
                <div class="flex">
                    <h1 class="font-bold mb-1 uppercase text-lg text-green-400 mr-5">90%</h1>
                    <h1 class="font-bold mb-1 uppercase text-lg">Sistemas</h1>
                </div>
        
                <div class="h-3 relative max-w-xl rounded-full overflow-hidden">
                    <div class="w-full h-full bg-gray-200 absolute"></div>
                    <div class="h-full bg-green-400 absolute" style="width:90%"></div>
                </div>
            </div>

            <div class="skills | mt-5">
                <div class="flex">
                    <h1 class="font-bold mb-1 uppercase text-lg text-green-400 mr-5">80%</h1>
                    <h1 class="font-bold mb-1 uppercase text-lg">Docker</h1>
                </div>
    
                <div class="h-3 relative max-w-xl rounded-full overflow-hidden">
                    <div class="w-full h-full bg-gray-200 absolute"></div>
                    <div class="h-full bg-green-400 absolute" style="width:80%"></div>
                </div>
            </div>
    
            <div class="skills mt-5">
                <div class="flex">
                    <h1 class="font-bold mb-1 uppercase text-lg text-green-400 mr-5">70%</h1>
                    <h1 class="font-bold mb-1 uppercase text-lg">Git</h1>
                </div>
        
                <div class="h-3 relative max-w-xl rounded-full overflow-hidden">
                    <div class="w-full h-full bg-gray-200 absolute"></div>
                    <div class="h-full bg-green-400 absolute" style="width:70%"></div>
                </div>
            </div>
    
            <div class="skills mt-5">
                <div class="flex">
                    <h1 class="font-bold mb-1 uppercase text-lg text-green-400 mr-5">70%</h1>
                    <h1 class="font-bold mb-1 uppercase text-lg">Terminal / CLI</h1>
                </div>
        
                <div class="h-3 relative max-w-xl rounded-full overflow-hidden">
                    <div class="w-full h-full bg-gray-200 absolute"></div>
                    <div class="h-full bg-green-400 absolute" style="width:70%"></div>
                </div>
            </div>
    
        </div>
        
    </div>

</div>