<hr>

<div id="general" class="lg:flex | divide-gray-200 lg:divide-x">

  <div id="title" class="lg:w-2/5 | bg-gray-200 bg-opacity-75 | p-5 sm:p-10 | lg:px-16 lg:py-10 | lg:text-right">
    <h1 class="font-bold mb-1 uppercase text-lg">Portfolio</h1>
    <p>Proyectos personales</p>
  </div>

  <div id="description" class="lg:w-3/5 sm:flex | bg-gray-100 bg-opacity-25 | p-5 sm:p-10 | lg:px-16 lg:py-10">
    
    <div class="lg:max-w-xl sm:flex sm:flex-wrap">
      <div class="mx-auto">
        <a target="_blank" href="https://diet2gether.raulmorales.eu/">
          <img src="assets/diet2gether_sm.png" class="h-56 w-56 | rounded-full border-2 border-gray-200 | mx-auto sm:mx-0"
            alt="webpage diet2gether" srcset="">
        </a>
      </div>
  
      <div class="mx-auto | sm:pt-0">
        <a target="_blank" href="https://aboutme.raulmorales.eu/">
          <img src="assets/raul.png" class="h-56 w-56 | rounded-full border-2 border-gray-200 | mx-auto sm:mx-0"
            alt="webpage diet2gether" srcset="">
        </a>
      </div>
    </div>
    
  </div>

</div>