<div id="general" class="">

  <div id="title" class="bg-gray-200 bg-opacity-75 p-5">
    <h1 class="font-bold mb-1 uppercase text-lg">Portfolio</h1>
    <p>Proyectos personales</p>
  </div>

  <div id="description" class="bg-gray-100 bg-opacity-25 p-5">

    <div class="bg-indigo-500 w-full h-full">

    </div>

    <div class="mx-auto">
      <a target="_blank" href="https://diet2gether.raulmorales.eu/">
        <img src="assets/diet2gether_sm.png" class="h-80 w-full border-2 border-gray-200 mx-auto "
          alt="webpage diet2gether" srcset="">
      </a>
    </div>

  </div>

</div>